#v_grids,
#g_grids {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 20;
}

#g_grids {
  flex-direction: column;
}
.v_box {
  width: 25%;
  /* height: 100vh; */
  border-right: thin solid lightgray;
  animation-name: V_box;
  animation-duration: 3s;
  opacity: 0.5;
}

.g_box {
  width: 100vw;
  height: 25%;
  border-bottom: thin solid lightgray;
  animation-name: G_box;
  animation-duration: 3s;
  opacity: 0.5;
}

@keyframes V_box {
  0% {
    height: 0;
    border-right: thin solid red;
    transition: opacity 5s;
    /* opacity: 1; */
  }
  50% {
    border-right: thin solid red;
  }
  100% {
    height: 100vh;
    border-right: thin solid lightgray;
    opacity: 0.5;
  }
}

@keyframes G_box {
  0% {
    width: 0;
    border-bottom: thin solid red;
    opacity: 1;
  }
  50% {
    border-bottom: thin solid red;
  }

  100% {
    width: 100vw;
    border-bottom: thin solid lightgray;
    opacity: 0.5;
  }
}
