/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --textcolor: rgb(49, 4, 4);
  --border_color: rgb(49, 4, 4);
  --color1: rgb(236, 231, 231);
  --color2: rgb(180, 175, 175);
}

.window_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 0;
}

#main_content {
  transition: transform 0.5s ease-in-out;
}

.hidden {
  display: none;
}
header {
  position: relative;
  z-index: 10;
}
/* .controls {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
} */
.most-upstairs,
button {
  position: absolute;

  width: 200px;
  z-index: 10;
  left: calc(50% - 100px);
}

#down_button {
  bottom: -96vh;
}

.slide {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.appearance {
  animation-name: Appearance;
  animation-duration: 3s;
}

#slide0 {
  background-image: url("img/001.jpg");
}
#slide1 {
  background-image: url("img/002.jpg");
}
#slide2 {
  background-image: url("img/003.jpg");
}
#slide3 {
  background-image: url("img/004.jpg");
}

@keyframes Appearance {
  0% {
    opacity: 0;

    /* width: 10%;
    height: 10%; */
  }
  50% {
    opacity: 0.3;
  }
  100% {
    /* left: 0px; */
    opacity: 1;
    /* width: 100%;
    height: 100%; */
  }
}

/* .parallax {
  box-sizing: border-box;
  min-height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border: 5px solid var(--border_color);
  border-radius: 50px;
  margin-bottom: 20px;
} */

.slide_name {
  text-align: center;
  font-family: lobster;
  font-size: 8rem;
  color: beige;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(49, 4, 4), 0 0 0.2em rgb(49, 4, 4);
  position: relative;
  top: 25%;
  animation-name: Appearance;
  animation-duration: 5s;

  /* box-shadow: 0 0 10px 10px black; */
}
.saber_more {
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
  text-align: center;
  position: relative;
  background-color: rgb(161, 98, 98);
}

.most-upstairs {
  z-index: 100;
  height: 68px;
  margin: 50px 0;
  cursor: pointer;
}
.storona-uveka {
  width: 0;
  height: 10px;
  border: 0px solid lightsteelblue;
  position: relative;
  animation: scroll 2.7s infinite;
  margin: auto;
}
.storona-uveka::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -15px;
  width: 10px;
  height: 10px;
  border-top: 50px solid lightsteelblue;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.most-upstairs-up {
  z-index: 100;
  height: 68px;
  margin: -39px 0;
  cursor: pointer;
}
.storona-uveka-up {
  width: 0;
  height: 10px;
  border: 0px solid lightsteelblue;
  position: relative;
  animation: scroll 2.7s infinite;
  margin: auto;
}
.storona-uveka-up::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -15px;
  width: 10px;
  height: 10px;
  border-bottom: 50px solid lightsteelblue;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

@keyframes scroll {
  0% {
    height: 40px;
  }
  50% {
    height: 70px;
  }
  100% {
    height: 40px;
  }
}

.slide_name {
  font-size: 2rem;
}
.saber_more {
  font-size: 1rem;
}

#slide0 {
  background-image: url("img/001_sm.jpg");
}
#slide1 {
  background-image: url("img/002_sm.jpg");
}
#slide2 {
  background-image: url("img/003_sm.jpg");
}
#slide3 {
  background-image: url("img/004_sm.jpg");
}

@media (min-width: 576px) {
  .slide_name {
    font-size: 2.5rem;
  }
  .saber_more {
    font-size: 1.2rem;
  }
}

@media (min-width: 668px) {
  .slide_name {
    font-size: 3rem;
  }
  .saber_more {
    font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  .slide_name {
    font-size: 4rem;
  }
  .saber_more {
    font-size: 1rem;
  }
  #slide0 {
    background-image: url("img/001_lg.jpg");
  }
  #slide1 {
    background-image: url("img/002_lg.jpg");
  }
  #slide2 {
    background-image: url("img/003_lg.jpg");
  }
  #slide3 {
    background-image: url("img/004_lg.jpg");
  }
}
@media (min-width: 1140px) {
  .slide_name {
    font-size: 8rem;
  }
  .saber_more {
    font-size: 2rem;
  }
}
